{% extends "base.html" %}

{% block content %}
{% if section.permalink is containing("/blog/") %}
{% set section_class = "section-blog" %}
{% elif section.permalink is containing("/tech/") %}
{% set section_class = "section-tech" %}
{% elif section.permalink is containing("/rpg/") %}
{% set section_class = "section-rpg" %}
{% else %}
{% set section_class = "" %}
{% endif %}
<!-- Set section class for CSS variable scoping -->

<div class="{{ section_class }}">
  <div class="group flex flex-col items-center text-center pt-[8rem] pb-[4rem] space-y-4">
    <h1 class="text-5xl font-extrabold w-4/5 max-w-[75rem] group-accent-hover-text">
      {{ section.title }}
    </h1>
    <p class="text-xl font-mono w-4/5 max-w-[75rem]"> {{ section.description }} </p>
  </div>
  {% if section.pages | length == 0 %}
  <div class="flex items-center justify-center text-center">
    <p class="text-lg font-mono text-c04"> For now, it's pretty empty... </p>
  </div>
  {% else %}
  <!-- grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 -->
  <div class="flex flex-row flex-wrap
    items-center justify-center
    gap-[1rem] px-[1rem] pt-[1rem] pb-[2rem] mx-auto">
    {% for page in section.pages %}
    {% include "components/article_card.html" %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock content %}